@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.menu-certificado {
  max-width: 800px;
}

.btn-voltar {
  cursor: pointer;
  gap: 6px;
}

.btn-voltar p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.btn-voltar i {
  font-size: 20px;
  color: #64748b;
}

.certificado {
  position: relative;
  margin-top: 32px;
  background-image: url(../../../../public/certificate/certificate_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 800px;
  height: 550px;
  border-radius: 12px;
}

.conteudo-certificado {
  width: 720px;
  height: 470px;
  background-color: #FFF;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.conteudo-certificado p {
  margin: 0;
}

.icone-medalha {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

.info-certificado {
  margin: 64px 40px auto 40px;
  text-align: center;
  gap: 20px;
}

.titulo-subtitulo-certificado h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #1A2856;
  line-height: 160%;
  letter-spacing: 2.4px;
}

.titulo-subtitulo-certificado p {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  margin: 0;
  color: #121621;
}

.nome-aluno {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  color: #3B5AC2 ;
}

.lista-atividades-group {
  width: 413.7px;
}

.lista-atividades-titulo {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  color: #121621;
  margin-bottom: 8px !important;
}

.lista-atividades {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  color: #121621;
}

.data-emissao {
  font-size: 11.2px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0;
  color: #121621;
  margin-top: 48px !important;
}

.icone-assinatura {
  position: absolute;
  right: 40px;
  bottom: 24px;
  width: 64px;
  height: 64px;
}
